.sideBar

  .sideBar__top
    %p.sideBar__top__name
      = current_user.name
    .sideBar__top__btn
      = link_to new_group_path do
        = icon('fa', 'edit')
      = link_to edit_user_path(current_user) do
        = icon('fas', 'cog', class: 'icon')
  .sideBar__content
    .sideBar__content__group
      %p.sideBar__content__group__name
        グループ名
      %p.sideBar__content__group__newMessage
        新着メッセージ
